.orb-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.orb-container canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}
